@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  background-color: #181712;
  color: #F0F0F0;
}

h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

.main-area {
  background-color: #757571;
  text-align: center;

}

.button {
  color: #F0F0F0;
  background-color: #757571;
  text-transform: uppercase;
  font-weight: 500;
}

.button:hover {
  background-color: #5498af;
}

.button:focus {
  outline: none;
}
