@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  background-color: #181712;
  color: #F0F0F0;
}

h1, h2, h3{
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.centered {
  text-align: center;
}

.narrower-buttons {
  max-width: 38em;
  margin:0 auto;
}

.about-me {
  margin-top: 150px;
}

.button {
  color: #F0F0F0;
  background-color: #757571;
  text-transform: uppercase;
  font-weight: 500;
  width: 170px;
border-radius: 40px;
}

.button:focus {
  outline: none;
}

.hidden {
  display: none;
}

.selected-button {
  background-color: #2199e8;
}
