@import url('https://fonts.googleapis.com/css?family=Signika:700');

body {
  margin: 0 auto;
  max-width: 60em;
  font-family: 'Signika', sans-serif;
  line-height: 1.5;
  padding: 3em .5em;
  color: #1a242c;
}

h1, h2, h3{
  font-family: 'Signika', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.main-pic {
  border-radius: 40%;
  /*width: 70%;*/
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}

.section {
  margin-top: 20px;
}

.link {
  padding-right: 20px;
  display: inline-block;
  color: #999999;
}

.link:hover {
  color: #0055dd;
}

.selected {
  font-weight: 700;
}

.selected-link {
  font-weight: 700;
}

.selected-link:hover {
  color: #1a242c;
}

.selected-link:focus {
  outline: none;
}

.selected-about {
  color: #00cfb5;
}

.selected-experience {
  color: #51b9e0;
}

.selected-projects {
  color: #8f46b9;
}

.selected-contact {
  color: #ed3d45;
}
